<!DOCTYPE html>
<html lang="en">
<head>
    <title>WirePact Contract Repository</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <base href="~/">
</head>

<body class="font-sans text-base text-gray-900">
<partial name="Components/_Header"/>

<main class="w-full mt-8 max-w-4xl mx-auto mb-16">
    @RenderBody()
</main>

<script src="~/_framework/blazor.server.js" asp-append-version="true" async defer></script>
</body>
</html>
