@page
@model ContractRepository.Pages.Index
@inject IUrlHelper UrlHelper

<h1 class="text-lg font-bold">List of Contracts</h1>
<div class="text-right mb-8">
    <partial name="Components/_LinkButton" model="@(("Add New", UrlHelper.Page("New")))"/>
</div>

<table class="w-full">
    <thead>
    <tr>
        <th class="text-left">Contract ID</th>
        <th class="text-right">Involved PKIs</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var contract in Model.Contracts)
    {
        <tr>
            <td class="py-2 pr-4">
                <a class="" asp-page="Detail" asp-route-contractId="@contract.Id">
                    @contract.Id
                </a>
            </td>
            <td class="text-right">
                @string.Join(", ", contract.Participants.OrderBy(p => p.Name).Select(p => p.Name).ToList())
            </td>
        </tr>
    }
    </tbody>
</table>
