@page
@using ContractRepository.Pages.Components
@model ContractRepository.Pages.New

<div class="bg-gray-800 rounded mb-16">
    <div class="max-w-7xl mx-auto py-12 px-8 flex justify-between">
        <div class="max-w-xl">
            <h2 class="text-4xl font-extrabold text-white">Create New Contract</h2>
            <p class="mt-5 text-xl text-gray-400">Create a new contract by adding various PKIs to it. If your PKI is accessible, you can fetch the certificate with the helper dialog.</p>
        </div>
    </div>
</div>

<form method="post">
    <component type="typeof(NewContractForm)" render-mode="ServerPrerendered" param-Pkis="@Model.Pkis"/>
</form>
